<div class="content-login u-display-flex-column">
    <h1>Sistema BackOffice CYCO</h1>
    <div class="content-login__card opacity-box-login">
        <h6>Inicio sesión</h6>
        <div class="content-login__card__fileds">
            <form [formGroup]="form" (keydown)="enterSubmit($event)">
                <input-field class="field-content u-margin-top-1 u-margin-bottom-1"
                    [valueConfig]="dataLogin.valuesInput[0]" [formCtrl]="form.get('username')"
                    patternError="Solo letras y números">
                </input-field>

                <input-field class="field-content u-margin-top-1 u-margin-bottom-1"
                    [valueConfig]="dataLogin.valuesInput[1]" [formCtrl]="form.get('password')"
                    [typeInput]="isTypePassword ? 'password' : 'text'" patternError="Solo letras y números">

                    <button class="btn_change_type" type="button" (click)="isTypePassword = !isTypePassword">
                        <i [class]="isTypePassword ? 'fa fa-eye' : 'fa fa-eye-slash'"></i>
                    </button>
                </input-field>
            </form>
        </div>
        <div class="container-button">
            <button class="container-button__submit" (click)="goToRedirect()">
                Ingresar
            </button>
        </div>
    </div>
</div>