<block-ui>
  <div class="container">
    <div class="row">
      <div class="col-12">
        <div class="card">
          <div class="card-body">
            <h5 class="card-title">Test de pago con pos</h5>
            <select
              #tipoPago
              class="control form-control"
              (change)="select(tipoPago.value)"
            >
              <option [value]="item.value" *ngFor="let item of vTipo">
                {{ item.label }}
              </option>
            </select>
            <input
              class="control form-control"
              *ngIf="vSeleccion == 2 || vSeleccion == 3"
              (keyup)="onKeyMonto($event)"
              placeholder="Ingrese monto"
            />
            <input
              class="control form-control"
              *ngIf="vSeleccion == 4"
              (keyup)="onKeyTransaction($event)"
              placeholder="Ingrese transacción"
            />
            <button
              type="button"
              class="control btn btn-primary"
              (click)="pagar()"
            >
              Realizar
            </button>
            <!--<button
              style="margin-left: 1em;"
              type="button"
              class="control btn btn-danger"
              (click)="cancelar()"
            >
              Cancelar
            </button>-->
          </div>
        </div>
      </div>
    </div>
  </div>
</block-ui>
